.style{
    width: 60%;
}

.formularioUsuario{
    margin-left: 35%;
    margin-right: auto;
}

.titulo{
    text-align: center;
}

.formularioBlog{
    margin-left: 35%;
    margin-right: auto;
    
}

.style_blog{
    width: 39%;
    margin-left: 0px;
}